<div class="card">
  <div class="card-header">
    <img [src]="productInput?.product?.image_url" alt="" />
  </div>
  @if (productInput) {
  <div class="card-body">
    <h1>
      {{ productInput.product.brands }}
    </h1>
    <div class="data">
      <p
        *ngIf="
          productInput.product.nutriments.fat !== undefined;
          else fatFallback
        "
      >
        Fat: <span> {{ productInput.product.nutriments.fat }}g </span>
      </p>
      <ng-template #fatFallback>
        <p>
          Processing Level: NOVA Group
          <span>
            {{ productInput.product.nutriments["nova-group"] }}
          </span>
        </p>
      </ng-template>

      <p
        *ngIf="
          productInput.product.nutriments['energy-kcal'] !== undefined;
          else energyFallback
        "
      >
        Energy:
        <span> {{ productInput.product.nutriments["energy-kcal"] }}kcal </span>
      </p>

      <ng-template #energyFallback>
        <p>
          Energy:
          <span>
            {{ productInput.product.nutriments["nova-group_100g"] }}kcal
          </span>
        </p>
      </ng-template>
      <p
        *ngIf="
          productInput.product.nutriments.proteins !== undefined;
          else proteinFallback
        "
      >
        Proteins:
        <span> {{ productInput.product.nutriments.proteins }}g </span>
      </p>
      <ng-template #proteinFallback>
        <p>
          Nova serving:
          <span>
            {{ productInput.product.nutriments["nova-group_serving"] }}
          </span>
        </p>
      </ng-template>
      <p
        *ngIf="
          productInput.product.nutriments.salt !== undefined;
          else saltFallback
        "
      >
        Salt: <span> {{ productInput.product.nutriments.salt }}g </span>
      </p>
      <ng-template #saltFallback>
        <p>
          Nutrition score:
          <span>
            {{ productInput.product.nutriments["nutrition-score-fr"] }}
          </span>
        </p>
      </ng-template>

      <p
        *ngIf="
          productInput.product.nutriments.sugars !== undefined;
          else sugarFallback
        "
      >
        Sugars: <span> {{ productInput.product.nutriments.sugars }}g </span>
      </p>
      <ng-template #sugarFallback>
        <p>
          Nutrition score per 100g:
          <span>
            {{ productInput.product.nutriments["nutrition-score-fr_100g"] }}
          </span>
        </p>
      </ng-template>
    </div>
  </div>
  } @if (emptyResponse()) {
  <p class="error">Cant add product its data is empty</p>

  }
  <div class="footer">
    <button (click)="sendData(productInput?.product?.nutriments!)">
      ➕ Add to List
    </button>
  </div>
</div>
