<div class="card">
  <div class="activity">
    <p>
      {{ activity.activityName! | transformStr }}
    </p>
  </div>
  <div class="details">
    <p>
      {{ activity.reps ? `Reps: ${activity.reps}` : activity.sets ? `Sets: ${activity.sets}` :  `Time: ${activity.time} ${activity.timeUnit}` }}
      |
    </p>
    <p *ngIf="activity.distance !== '' || !activity.distance">
      Distance: {{ activity.distance }} {{ activity.unit }} |
    </p>
    <p>Calories: {{ activity.calories }} |</p>
  </div>
</div>
