@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.card {
  background: #f9f9f9;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }

  .activity {
    p {
      font-family: $roboto;
      font-weight: 600;
      color: #333;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }

  .details {
    p {
      font-family: $inter;
      font-size: 1rem;
      color: #555;
      // line-height: 1.6;
      margin-bottom: 0.5rem;
    }

    p strong {
      font-weight: 600;
      color: #333;
    }
  }
}
