@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.card-body {
  width: 250px;
  height: 80px;
  background-color: $white-bg;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 1rem;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }

  .card-title {
    img {
      width: 25px;
      height: 25px;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-family: $roboto;
    }

    p {
      font-size: 0.9rem;
      color: #666;
      margin-top: 0.25rem;
      font-family: $inter;
    }
  }
}
