@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.card-body {
  width: 90%;
  max-width: 450px;
  height: 150px;
  background-color: white;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 15px;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);

  .card-title {
    p {
      font-family: $inter;
      text-align: center;
      font-size: 25px;
      font-weight: 800;
      color: cyan;
      padding: 0;
      margin: 0;
    }
  }
}
