<section class="modal-overlay">
  <div class="modal-content">
    <h2>Register</h2>

    <form [formGroup]="registrationForm">
      <div class="input-wrap">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          formControlName="email"
          [ngClass]="{
            errBorder:
              registrationForm.controls.email.invalid &&
              registrationForm.controls.email.touched,
            filled: registrationForm.controls.email.value
          }"
        />
        @if (this.registrationForm.controls.email.hasError('required') &&
        this.registrationForm.controls.email.touched) {
        <p class="error-p">Email is required</p>
        }@if (this.registrationForm.controls.email.hasError('email') &&
        this.registrationForm.controls.email.touched) {
        <p class="error-p">Invalid email</p>
        }@if (emailError) {
        <p class="error-p">
          {{ emailError }}
        </p>

        }
      </div>

      <div class="input-wrap">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
          formControlName="password"
          [ngClass]="{
            errBorder:
              registrationForm.controls.password.invalid &&
              registrationForm.controls.password.touched,
            filled: registrationForm.controls.password.value
          }"
        />
        @if (registrationForm.controls.password.hasError('minlength') &&
        registrationForm.controls.password.touched) {
        <p class="error-p">Password must be at least 8 characters</p>
        } @if(registrationForm.controls.password.hasError('maxlength') &&
        registrationForm.controls.password.touched) {
        <p class="error-p">Password must be less than 16 characters</p>
        } @if (registrationForm.controls.password.hasError('required') &&
        registrationForm.controls.password.touched) {
        <p class="error-p">Password is required</p>
        }
      </div>

      <div class="input-wrap">
        <input
          type="username"
          name="username"
          id="username"
          placeholder="Enter your username"
          formControlName="username"
          [ngClass]="{
            errBorder:
              (registrationForm.controls.username.invalid &&
                registrationForm.controls.username.touched) ||
              !isFormReady(),
            filled: registrationForm.controls.username.value
          }"
        />
        @if (registrationForm.controls.username.hasError('required') &&
        registrationForm.controls.username.touched) {
        <p class="error-p">username is required</p>
        }@if (registrationForm.controls.username.hasError('minlength')) {
        <p class="error-p">username must be at least 3 characters</p>
        }@if (registrationForm.controls.username.hasError('maxlength')) {
        <p class="error-p">username cannot be more then 16 characters</p>
        }@if (usernameError !== '') {
        <p class="error-p">{{ usernameError }}</p>
        }
      </div>
    </form>

    <div class="footer">
      <button (click)="emitData()">Register</button>
      <button (click)="emitClose()">Close</button>
    </div>
  </div>
</section>
