<main>
  <section>
    <div class="aboutPage">
      <p>
        Welcome to the Leaderboard! Compete with others, stay active, and climb
        your way to the top to become the ultimate champion.
      </p>
    </div>

    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Total Burned Calories</th>
          <th>Total Activities</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users()">
          <td class="username">
            <span
              ><img [src]="item.photoURL" alt="Profile Picture" />
              {{
                item.uid === user.currentUser?.uid ? "You" : item.displayName
              }}
            </span>
          </td>
          <td>
            {{ item.totalBurned }}
          </td>
          <td>
            {{ (item.activities && item.activities.length) || 0 }}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
