<main>
  <section>
    <strong>TOTAL REGISTERED USERS: {{ users().length }}</strong>

    <div class="aboutPage">
      <p>
        Welcome to the Leaderboard! Compete with others, stay active, and climb
        your way to the top to become the ultimate champion.
      </p>
    </div>

    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Total Burned Calories</th>
          <th>Total Activities</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users()">
          <td class="username">
            <span
              ><img
                [src]="item.userImage || 'assets/images/user.png'"
                alt="Profile Picture"
              />
              <!-- {{
                item.uid === user.currentUser?.uid ? "You" : item.displayName
              }} -->
              {{
                item.username === this.user.currentUser?.displayName
                  ? "You"
                  : item.username
              }}
            </span>
          </td>
          <td>
            {{ item.burnedCalories }}
          </td>
          <td>
            {{ item.activities || 0 }}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
