<div class="data">
  <div class="nutritions">
    <h5>Nutrition</h5>
    <p><strong>Energy (kcal):</strong> {{ nutritionInput?.energyKcal }}</p>
    <p><strong>Proteins:</strong> {{ nutritionInput?.proteins }} g</p>
    <p><strong>Carbohydrates:</strong> {{ nutritionInput?.carbohydrates }} g</p>
    <p><strong>Sugars:</strong> {{ nutritionInput?.sugars }} g</p>
    <p><strong>Fat:</strong> {{ nutritionInput?.fat }} g</p>
    <p><strong>Salt:</strong> {{ nutritionInput?.salt }} g</p>
  </div>
  <div class="nova-group">
    <h5>Labels & Scores</h5>
    <p><strong>NOVA Group:</strong> {{ nutritionInput?.novaGroup }}</p>
    <p>
      <strong>NOVA Group (100g):</strong>
      {{ nutritionInput?.novaGroup100g }}
    </p>
    <p>
      <strong>NOVA Group (Serving):</strong>
      {{ nutritionInput?.novaGroupServing }}
    </p>
    <p>
      <strong>Nutrition Score (FR):</strong>
      {{ nutritionInput?.nutritionScoreFr }}
    </p>
    <p>
      <strong>Nutrition Score (FR 100g):</strong>
      {{ nutritionInput?.nutritionScoreFr100g }}
    </p>
  </div>
</div>
