<section>
  <h3>
    {{ personalBest?.activityName }}
  </h3>
  <div class="w-data">
    @if (personalBest?.MET) {
    <p>
      Workout Intensity: <strong>{{ personalBest?.MET }}</strong>
    </p>
    }
    <p>
      Calories burned: <strong>{{ personalBest?.burnedCalories }} Kcal</strong>
    </p>
    @if (personalBest?.time) {
    <p>
      Duration: <strong>{{ personalBest?.time }}</strong>
    </p>
    } @if (personalBest?.burnedCalories && personalBest?.distance) {
    <p>
      Average Speed: <strong>{{ personalBest?.speed }} km/h</strong>
    </p>
    <p>
      Distance Covered: <strong>{{ personalBest?.distance }} KM</strong>
    </p>
    } @if (personalBest?.totalReps) {
    <p>
      Total reps done: <strong>{{ personalBest?.totalReps }} REPS</strong>
    </p>
    }
  </div>
</section>
