$montserrat: "Montserrat", "Sans-Serif";
$roboto: "Roboto", "sans-serif";
$inter: "Inter", "Sans-Serif";
$poppins: "Poppins", "sans-serif";
$heading-color: #f0f0f0;
$paragraph-color: #e8e8e8;
$white-bg: white;
$dark-gray: #1e1e1e;
$base-border-color: 1px solid #a3d5ff;
$main-bg: #f4f4f4;
