<main>
  <section id="main-wrapper">
    <aside id="summarry">
      <div class="container-title">
        <h1>Workout summarry</h1>
      </div>

      @if(calculatedData().length === 0) {
      <div class="nothing">
        <div class="text">
          <i class="fa-solid fa-lock"></i>
          Enter your workout stats to see detailed calculations.
        </div>
      </div>
      }

      <section class="workout-data">
        <app-activity-info
          *ngFor="let item of calculatedData()"
          [data]="item"
        />
      </section>
    </aside>

    <aside id="form-side">
      <form [formGroup]="metricInputControl" (ngSubmit)="saveWorkout()">
        <div class="container-title">
          <h1>Workout Form</h1>
        </div>
        @for (item of workout?.metrics; track $index) {

        <div
          [ngClass]="{
            'workout-input': item !== 'effort',
            defaultDropDown: item === 'effort'
          }"
        >
          @if (item === 'effort') {

          <label [attr.for]="'workoutInput' + $index">
            {{ item }}
          </label>

          <select [attr.id]="'workoutInput' + $index" [formControlName]="item">
            <option value="MAXIMUM">Maximum</option>
            <option value="MODERATE">Moderate</option>
            <option value="LIGHT">Light</option>
          </select>

          }@else {
          <label [attr.for]="'workoutInput' + $index">
            {{ item }}
          </label>

          <input
            type="text"
            [attr.id]="'workoutInput' + $index"
            [attr.name]="item"
            [placeholder]="item"
            [formControlName]="item"
            [ngClass]="{
              errBorder:
                metricInputControl.get(item)?.errors &&
                metricInputControl.get(item)?.touched,
              filled: metricInputControl.get(item)?.value
            }"
          />
          @if (item === 'distance') {
          <select name="" id="" formControlName="unit">
            <option value="KM">KM</option>
            <option value="MILES">Miles</option>
          </select>
          } @if (item === 'time') {
          <select name="" id="" formControlName="timeUnit">
            <option value="HOUR">HOUR</option>
            <option value="MINUTES">MINUTES</option>
          </select>
          } }

          <div
            class="errC"
            *ngIf="
              metricInputControl.get(item)?.errors &&
              metricInputControl.get(item)?.touched
            "
          >
            @if (metricInputControl.get(item)?.errors?.['required']) {
            <p>{{ item }} is required</p>
            }@else if (metricInputControl.get(item)?.errors?.['min']) {
            <p>{{ item }} cannot be 0 Km</p>
            }
          </div>
        </div>
        }

        <button type="submit">Calculate and save</button>
      </form>
    </aside>
  </section>
</main>
