<main>
  <section
    id="topSec"
    [ngClass]="calculatedData() && calculatedData().length > 0 ? 'active' : ''"
  >
    <div class="title-container">
      <h1>Activity Calculations</h1>
    </div>
    @for (item of calculatedData(); track $index) {
    <p>
      {{ item.speed ? `Avg Speed: ${item.speed} Km/h` : `Reps: ${item.totalReps}` }}
    </p>
    <p>Burned Calories: {{ item.burnedCalories }} KCAL</p>
    <p *ngIf="item.MET">Effort: {{ item.MET }}</p>
    <p *ngIf="item.time">Time spent {{ item.time }}</p>
    }
  </section>
  <section id="inputsSec">
    <div class="title-container">
      <p>
        Activity name:
        <span>
          {{ workout?.name }}
        </span>
      </p>
    </div>
    <div class="inputs">
      <form [formGroup]="metricInputControl" (ngSubmit)="saveWorkout()">
        <div
          class="inputW"
          *ngFor="let item of workout?.metrics; let i = index"
        >
          <input
            type="text"
            [attr.id]="'workoutInput' + i"
            [attr.name]="item"
            [placeholder]="item"
            [formControlName]="item"
            [ngClass]="{
              errBorder:
                metricInputControl.get(item)?.errors &&
                metricInputControl.get(item)?.touched
            }"
          />
          @if (item === 'distance') {
          <select name="" id="" formControlName="unit">
            <option value="KM">KM</option>
            <option value="MILES">Miles</option>
          </select>
          } @if (item === 'time') {
          <select name="" id="" formControlName="timeUnit">
            <option value="HOUR">HOUR</option>
            <option value="MINUTES">MINUTES</option>
          </select>
          }
          <div
            class="errC"
            *ngIf="
              metricInputControl.get(item)?.errors &&
              metricInputControl.get(item)?.touched
            "
          >
            @if (metricInputControl.get(item)?.errors?.['required']) {
            <p>{{ item }} is required</p>
            }@else if (metricInputControl.get(item)?.errors?.['min']) {
            <p>{{ item }} cannot be 0 Km</p>
            }
          </div>
        </div>
        <button type="submit">Save Activity</button>
      </form>
    </div>
  </section>
</main>
