@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

main {
  width: 100%;
  height: 100%;

  #topSec {
    width: 75%;
    max-height: 0;
    opacity: 0;
    background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin: auto;
    padding: 16px;
    font-family: $inter;
    font-size: 22px;
    transition: all 0.2s;

    .title-container {
      h1 {
        padding: 0;
        margin: 0;
      }
    }

    &.active {
      transition: all 0.2s;
      max-height: fit-content;
      opacity: 1;
    }
  }

  #inputsSec {
    width: 75%;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    padding: 20px;

    // გამჭირვალე ეფექტი გასატანია variables.scss ფაილში
    background: rgba(255, 255, 255, 0.34);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    .inputs {
      width: 100%;
      height: 100%;
      @include flex(flex-start, center, wrap, column);
      gap: 30px;

      form {
        @include inputAling(column, 30px);

        .inputW {
          width: fit-content;
          position: relative;

          label {
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            font-family: $inter;
          }

          input {
            width: 450px;
            height: 24px;
            border: 1px solid black;
            border-radius: 3px;
            outline: none;
            border: none;
            padding: 10px;
            border-bottom: 3px solid blue;
            background-color: #f1f1f1;
            transition: all 0.4s;

            &:focus {
              border-bottom: 3px solid green;
              transition: all 0.4s;
            }

            &.errBorder {
              border-bottom: 3px solid red;
              transition: all 0.4s;
            }

            &::placeholder {
              font-size: 14px;
              font-weight: 400;
              text-transform: capitalize;
              font-family: $inter;
            }
          }
        }

        .errC {
          p {
            text-transform: capitalize;
            padding: 0;
            margin: 0;
            font-size: 15px;
            font-family: $inter;
            color: red;
            transition: all 0.2s;
          }
        }

        button {
          width: 150px;
          padding: 10px;
          background-color: #4b4bdf;
          color: white;
          outline: none;
          border: none;
          cursor: pointer;
          transition: all 0.2s;
          border-radius: 3px;

          &:hover {
            background-color: #8a8adf;
            transition: all 0.2s;
          }
        }

        select {
          width: 70px;
          outline: none;
          border: none;
          background-color: transparent;
          position: absolute;
          margin-top: 20px;
          font-size: 15px;
          right: 0px;
        }
      }
    }
  }

  .title-container {
    width: 100%;
    text-align: center;

    p {
      padding: 0;
      margin: 0;
      font-size: 24px;
      font-family: $inter;
      font-weight: 650;
    }
  }
}
