<main>
  <section id="main-wrapper">
    <aside id="summarry">
      <div class="container-title">
        <h1>Workout summarry</h1>
      </div>
      <section class="workout-data">
        <app-activity-info
          *ngFor="let item of calculatedData()"
          [data]="item"
        />
      </section>
    </aside>

    <aside id="form-side">
      <form [formGroup]="metricInputControl" (ngSubmit)="saveWorkout()">
        <div class="container-title">
          <h1>Workout summarry</h1>
        </div>
        <div
          id="workout-input"
          *ngFor="let item of workout?.metrics; let i = index"
        >
          <label [attr.for]="'workoutInput' + i">
            {{ item }}
          </label>
          <input
            type="text"
            [attr.id]="'workoutInput' + i"
            [attr.name]="item"
            [placeholder]="item"
            [formControlName]="item"
            [ngClass]="{
              errBorder:
                metricInputControl.get(item)?.errors &&
                metricInputControl.get(item)?.touched,
              filled: metricInputControl.get(item)?.value
            }"
          />
          @if (item === 'distance') {
          <select name="" id="" formControlName="unit">
            <option value="KM">KM</option>
            <option value="MILES">Miles</option>
          </select>
          } @if (item === 'time') {
          <select name="" id="" formControlName="timeUnit">
            <option value="HOUR">HOUR</option>
            <option value="MINUTES">MINUTES</option>
          </select>
          }
          <div
            class="errC"
            *ngIf="
              metricInputControl.get(item)?.errors &&
              metricInputControl.get(item)?.touched
            "
          >
            @if (metricInputControl.get(item)?.errors?.['required']) {
            <p>{{ item }} is required</p>
            }@else if (metricInputControl.get(item)?.errors?.['min']) {
            <p>{{ item }} cannot be 0 Km</p>
            }
          </div>
        </div>
        <button type="submit">Calculate and save</button>
      </form>
    </aside>
  </section>
</main>
