<section id="dataSection" [ngClass]="calculatedData ? 'active' : ''">
  <p *ngIf="calculatedData.speed">
    <i class="fa-solid fa-gauge-high"></i>
    Avg Speed: {{ calculatedData.speed }} Km/h
  </p>

  <p *ngIf="!calculatedData.speed && calculatedData.totalReps">
    <i class="fa-solid fa-repeat"></i>
    Reps: {{ calculatedData.totalReps }}
  </p>

  <p>
    <i class="fa-solid fa-fire-flame-curved"></i> Burned Calories:
    {{ calculatedData.burnedCalories }} KCAL
  </p>
  <p *ngIf="calculatedData.MET">
    <i class="fa-solid fa-person-running"></i> Effort: {{ calculatedData.MET }}
  </p>
  <p *ngIf="calculatedData.time">
    <i class="fa-solid fa-clock"></i> Time: {{ calculatedData.time }}
  </p>
</section>
