@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

#dataSection {
  width: 75%;
  max-height: 0;
  opacity: 0;
  @include transparentGlass;
  margin: auto;
  padding: 16px;
  font-family: $inter;
  font-size: 22px;
  transition: all 0.2s;

  .title-container {
    text-align: center;

    h1 {
      padding: 0;
      margin: 0;
    }
  }

  &.active {
    transition: all 0.2s;
    max-height: fit-content;
    opacity: 1;
  }

  p {
    font-size: 20px;
    font-weight: 350;
  }
}
