<main>
  <h1><i class="fa-solid fa-barcode"></i> Product Barcode Lookup</h1>
  <form [formGroup]="barcodeGroup" (ngSubmit)="submit()">
    <div class="inputWrap">
      <input
        type="text"
        formControlName="barcodeInput"
        placeholder="Enter product bar code"
        [ngClass]="{
          errBorder:
            barcodeGroup.controls.barcodeInput.invalid &&
            barcodeGroup.controls.barcodeInput.touched,
          filled: barcodeGroup.controls.barcodeInput.value
        }"
      />
      @if (barcodeGroup.controls.barcodeInput.hasError('required') &&
      barcodeGroup.controls.barcodeInput.touched) {
      <p class="error-message">Barcode is required</p>
      }
    </div>
    <button>Search product</button>
  </form>

  @if (!product()) {
  <section id="caution">
    <div class="placeholderText">
      <p>
        <i class="fa-solid fa-circle-exclamation"></i>

        Some products may not exist in the database. This could happen if the
        item is rare, new, or the barcode was entered incorrectly. Double-check
        the code and try again.
      </p>
    </div>
  </section>
  } @if (product()) {
  <section id="foundPorduct">
    <app-product-card [productInput]="product()" />
  </section>
  }

  <section id="placeholderSec">
    <div class="info-card">
      <div class="info-heading">
        <i class="fa-regular fa-circle-question"></i> How It Works
      </div>
      <div class="info-body">
        <p>
          We pull data from multiple databases to help you make smart choices
          about what you're eating.
        </p>
      </div>
    </div>

    <div class="info-card">
      <div class="info-heading">
        <i class="fa-solid fa-heart-pulse"></i> Health Tips
      </div>
      <div class="info-body">
        <p>
          Eat a balance of protein, carbohydrates, and healthy fats to stay
          energized and strong.
        </p>
      </div>
    </div>

    <div class="info-card">
      <div class="info-heading">
        <i class="fa-solid fa-barcode"></i> Why It Matters
      </div>
      <div class="info-body">
        <p>
          Barcodes help provide accurate product information quickly and
          efficiently for your wellness.
        </p>
      </div>
    </div>
  </section>
</main>

<!-- *ngIf="!product()" -->
<!-- <section id="placeholderSec">
    <div class="info-card">
      <div class="info-heading">
        <b><i class="fa-regular fa-circle-question"></i> How It Works</b>
      </div>
      <div class="info-body">
        <p>
          We pull information directly from a variety of databases to help you
          make informed choices about what you're eating.
        </p>
      </div>
    </div>

    <div class="info-card">
      <div class="info-heading">
        <b><i class="fa-solid fa-heart-pulse"></i> Health Tips</b>
      </div>
      <div class="info-body">
        <p>
          Did you know? A balanced diet includes a mix of macronutrients:
          protein, carbs, and fats!
        </p>
      </div>
    </div>

    <div class="info-card">
      <div class="info-heading">
        <b
          ><i class="fa-solid fa-barcode"></i> Why Barcode Information
          Matters</b
        >
      </div>
      <div class="info-body">
        <p>
          By using the barcode, we can give you accurate and up-to-date
          information that helps you stay on track with your dietary goals.
        </p>
      </div>
    </div>
  </section> -->
