<header>
  <div class="left-side">
    <ul>
      <li>
        <a href="">Fitness Application</a>
      </li>
    </ul>
  </div>
</header>

<main>
  <section class="top-section">
    <div class="left-side">
      <div class="text-title">
        <h1>Track Your Fitness Progress</h1>
      </div>
      <div class="text-container">
        <p>
          Set daily fitness goals, log your workouts, track reps, and monitor
          your progress over time. Stay consistent and achieve your fitness
          milestones with us!
        </p>
      </div>
    </div>
    <div class="auth-container">
      <div class="c-title">
        <p>Authorize</p>
      </div>
      <ul>
        <li (click)="googleAuth()">
          <a
            >Google sign in
            <i class="fa-brands fa-google" style="color: #f2b505"></i
          ></a>
        </li>
      </ul>
    </div>
  </section>

  <section id="about">
    <div class="text-side">
      <div class="title">
        <h1>Dashboard overview</h1>
      </div>
      <p>
        The dashboard provides a comprehensive overview of your fitness journey.
        You can track your workout sessions, monitor burned calories, and view
        the total distance you've run. Easily log your meals into the macro
        tracker to keep track of daily nutrition, set personal goals, and
        monitor your progress—including your personal best workouts.
      </p>
    </div>
    <img src="assets/images/dashboard.png" alt="" />
  </section>
</main>
