@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

header {
  height: 44px;
  background-color: $main-bg;
  font-family: $inter;

  .left-side {
    width: 90%;
    margin: auto;

    ul {
      gap: 15px;
      padding: 0;

      li {
        list-style: none;
        padding: 0;

        a {
          color: black;
          text-decoration: none;
          font-size: 30px;
          padding: 0;
        }
      }
    }
  }

  .right-side {
    ul {
      @include flex();
      gap: 15px;

      li {
        list-style: none;

        a {
          color: black;
          text-decoration: none;
          font-size: 30px;
        }
      }
    }
  }
}

main {
  width: 100%;
  scroll-behavior: smooth;
  background-color: $main-bg;

  .top-section {
    width: 90%;
    height: 90%;
    min-height: 780px;
    @include flex(space-between);
    margin: auto;
    // margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #26bdc3 0%, #a8e063 100%);
    border-radius: 7px;

    .left-side {
      width: 100%;
      max-width: 650px;
      height: 75%;
      // background-color: red;
      padding: 15px;
      margin-bottom: 150px;
      @include flex(center, center, nowrap, column);

      .text-title {
        width: 100%;
        text-align: left;

        h1 {
          color: $heading-color;
          font-size: 34px;
          font-weight: 550;
          // color: white;
          font-family: $montserrat;
        }
      }

      .text-container {
        width: fit-content;
        text-align: left;
        // color: white;

        p {
          padding: 0;
          font-family: $montserrat;
          font-size: 24px;
          font-weight: 500;
          color: $paragraph-color;
        }
      }
    }

    .auth-container {
      width: 90%;
      max-width: 350px;
      height: 400px;
      background-color: #f5f5f5;
      border-radius: 10px;
      // @include flex();

      .c-title {
        width: 100%;
        text-align: center;

        p {
          font-size: 20px;
          // color: white;
          font-family: $montserrat;
          font-weight: 600;
          font-weight: 450;
        }
      }

      .third-party-auth {
        width: 100%;
        // height: 250px;
        // margin-top: 35px;
        padding: 0;
        @include flex();

        li {
          width: max-content;
          cursor: pointer;
          list-style: none;
          border: 1px solid #dadce0;
          background-color: rgb(224, 223, 223);
          padding: 8px 12px;
          font-family: $montserrat;
          text-align: center;
          border-radius: 6px;
          display: flex;
          align-items: center;
          gap: 8px;
          transition: 0.2s ease;

          a {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #3c4043;
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;

            i {
              font-size: 16px;
              color: #4285f4;
            }
          }

          &:hover {
            background-color: #f7f8f8;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
          }
        }
      }

      .login {
        width: 100%;

        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 25px;

          .input-wrap {
            width: 70%;
            margin: auto;
            @include flex(center, flex-start, wrap, column);

            input {
              @include custom-input(420px, 24px);
            }

            .error-p {
              @include errorText();
            }
          }

          .footer {
            width: 100%;
            height: auto;
            @include flex(center, center, wrap, column);

            button {
              @include customFormButton();
            }

            ul {
              @include flex(space-evenly);
              padding: 0;
              gap: 15px;

              li {
                list-style: none;

                a {
                  cursor: pointer;
                  font-size: 16px;
                  margin-top: 5px;
                  text-transform: capitalize;
                  font-family: $inter;
                  border-bottom: 1px solid blue;
                  color: blue;
                }
              }
            }
          }
        }
      }
    }
  }

  #about {
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    @include boxTune();

    img {
      width: 100%;
      height: auto;
      max-width: 850px;
      max-height: 850px;
      object-fit: cover;
      display: block;
    }

    .text-side {
      width: 45%;
      place-self: baseline;

      .title {
        font-size: 24px;
        font-family: $roboto;
      }

      p {
        font-family: $inter;
      }
    }
  }

  .total-users {
    width: 90%;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    @include flex(space-evenly, center, wrap, row);
    font-size: 25px;

    .data-card {
      width: 350px;
      height: 200px;
      box-sizing: border-box;
      padding: 15px;
      @include boxTune();
      background-color: #ffff;
      text-align: center;
      @include flex(center, center, wrap, column);

      p {
        font-family: $inter;
        margin: 0;
        margin-bottom: 6px;
        letter-spacing: 3px;

        i {
          color: red;
        }
      }

      span {
        font-family: $roboto;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1440px) {
  main {
    #about {
      .text-side {
        width: 100%;
        font-size: 14px;
      }
    }
  }
}
