@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.user-card {
  background-color: #fff;
  // border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-family: $inter;
  font-weight: 500;

  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  align-items: center;
  gap: 1rem;

  .user-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }

    .user-name {
      font-size: 1.1rem;
      font-weight: 600;
      color: #333;
      margin: 0;
    }
  }
}
