@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  @include flex();
  z-index: 1200;

  .password-reset-form {
    width: 90%;
    max-width: 450px;
    height: auto;
    background-color: $white-bg;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    @include flex(center, center, wrap, column);

    h2 {
      text-align: center;
      font-family: $inter;
    }

    form {
      width: 70%;
      height: auto;
      margin: auto;
      gap: 0;
      text-align: left;

      input {
        @include custom-input();
        height: 34px;
      }

      .error-p {
        @include errorText();
        margin: 0;
      }
    }

    h1 {
      font-family: $inter;
      text-align: center;
      font-weight: 300;

      i {
        color: green;
      }
    }

    .buttons {
      width: 100%;
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;

      button:nth-child(1) {
        @include customFormButton();
      }

      button:nth-child(2) {
        @include customFormButton(150px, red, white, rgb(247, 116, 116));
      }
    }
  }
}
