<section class="modal-wrapper">
  <div class="password-reset-form">
    <h2>Reset your password</h2>
    @if (!emailSended()) {
    <form [formGroup]="emailResetForm">
      <input
        type="email"
        name=""
        id=""
        placeholder="Enter email address"
        formControlName="emailReset"
        [ngClass]="{
          errBorder:
            (emailResetForm.controls.emailReset.invalid &&
              emailResetForm.controls.emailReset.touched) ||
            !isEmailUnique(),
          filled: emailResetForm.controls.emailReset.value
        }"
      />
      @if (emailResetForm.controls.emailReset.hasError('required') &&
      emailResetForm.controls.emailReset.touched) {
      <p class="error-p">Email is required</p>
      } @if (emailResetForm.controls.emailReset.hasError('email')) {
      <p class="error-p">Invalid email</p>
      }@if (emailResetForm.controls.emailReset.hasError('emailNotFound')) {
      <p class="error-p">Email not found</p>
      }
    </form>
    } @if (emailSended()) {
    <h1>
      Check email address to reset password <br />
      <i class="fa-solid fa-smile"></i>
    </h1>
    }

    <div class="buttons">
      <button (click)="sendReset()">Send reset</button>
      <button (click)="emitClose()">Close</button>
    </div>
  </div>
</section>
