<main>
  <div class="base-side">
    <div class="user-container">
      <div class="left-side">
        <div class="image-container">
          <img [src]="user()?.photoURL" [alt]="`${user()?.displayName} Logo`" />
        </div>
        <div class="user-baseInfo">
          <p>
            Username: <span>{{ user()?.displayName }}</span>
          </p>
          <p>
            Email: <span>{{ user()?.email }}</span>
          </p>
          <p>
            Member Since:
            <span>{{
              user()?.metadata?.creationTime | date : "dd/MM/yyyy"
            }}</span>
          </p>
          <p>
            Last seen:
            <span>{{
              user()?.metadata?.lastSignInTime | date : "dd/MM/yyyy"
            }}</span>
          </p>

          <p>
            Email verified:
            <span>{{ user()?.emailVerified ? "Yes" : "No" }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="workouts-container">
      <div class="container-title">
        <p>choose today's activity</p>
      </div>
      <div class="wrokout-cards">
        <app-card *ngFor="let item of workoutTypes()" [workout]="item" />
      </div>
    </div>

    <div class="user-activites">
      <div class="activities-title">
        <p>Activities</p>
      </div>
      <div class="loading" *ngIf="isLoading()">
        <mat-spinner *ngIf="isLoading()"></mat-spinner>
      </div>
      <div
        class="place-holder"
        *ngIf="activities().length === 0 && !isLoading()"
      >
        <p>no activities found.</p>
      </div>
      <div class="cards">
        @if (!isLoading()) {
        <app-dashboard-card
          *ngFor="let item of activities()"
          [cardInfo]="item"
        />
        }
      </div>
    </div>
  </div>
  <section class="workouts-chart">
    <div class="top-charts">
      <div class="user-meals">
        <div class="title-container">
          <p>Macro tracker</p>
        </div>
        <div class="loading" *ngIf="isLoading()">
          <mat-spinner *ngIf="isLoading()"></mat-spinner>
        </div>
        <h5 *ngIf="!dailyMeals() && !isLoading()">Data not found</h5>
        <app-nutrition-card
          [nutritionInput]="dailyMeals()!"
          *ngIf="dailyMeals() && !isLoading()"
        />
      </div>

      <div class="daily-goal">
        <div class="title-container">
          <p>Daily Goal</p>
        </div>
        <div class="empty">
          <span>🏅No daily goals found. set your daily goal. </span>
          <button (click)="openModal()">Set daily goal</button>
        </div>
        <app-modal
          *ngIf="isOpen()"
          (close)="closeModal()"
          (onSave)="saveGoal()"
        />
      </div>
    </div>
  </section>
</main>
