@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

main {
  width: 100%;
  margin-top: 40px;
  @include flex(space-between, flex-start);

  .base-side {
    width: 90%;
    max-width: 850px;

    .user-container {
      padding: 10px;
      @include flex(space-between, wrap, row);
      gap: 15px;
      border-radius: 3px;
      background-color: white;

      .anchorButton {
        width: 100px;
        height: 22px;
        padding: 5px;
        margin: 0;
        border-radius: 3px;
        text-align: center;
        border: 1px solid black;
        cursor: pointer;

        li {
          list-style: none;
          font-family: $inter;
          text-transform: capitalize;
        }

        &:hover {
          background-color: white;
        }
      }
    }

    .left-side {
      @include flex(center, flex-start);
      gap: 15px;

      .image-container {
        img {
          border-radius: 130px;
          width: 100px;
          height: 100px;
        }
      }

      .user-baseInfo {
        @include flex(flex-start, base-line, wrap, column);
        gap: 20px;

        p {
          padding: 0;
          margin: 0;
          color: black;
          font-family: $inter;
        }
      }
    }

    .workouts-container {
      border-radius: 3px;
      margin-top: 30px;
      height: fit-content;
      background-color: white;
      // border: $base-border-color;
      // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
      padding: 10px;

      .container-title {
        height: 50px;
        margin-bottom: 15px;
        text-align: center;
        @include flex(center, center);

        p {
          width: fit-content;
          padding: 0;
          margin: 0;
          font-size: 24px;
          text-align: center;
          font-family: $inter;
          font-weight: 500;
          text-transform: capitalize;
          color: #333;
          position: relative;

          // &::before,
          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 50%;
          //   width: 50px;
          //   height: 2px;
          //   background-color: black;
          // }

          // &::before {
          //   left: -60px;
          // }

          // &::after {
          //   right: -60px;
          // }
        }
      }

      .wrokout-cards {
        width: 100%;
        height: 480px;
        overflow: auto;
        @include flex(center, baseline, wrap, row);
        gap: 15px;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.3) transparent;

        app-card {
          width: 250px;
        }
      }
    }
  }

  .user-activites {
    width: 85%;
    max-width: 750px;
    height: 750px;
    padding: 20px;
    border-radius: 3px;
    // border: $base-border-color;
    box-sizing: border-box;
    background-color: white;

    .place-holder {
      width: 100%;
      height: 100%;
      @include flex();

      p {
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-family: $inter;
        text-transform: capitalize;
      }
    }

    .activities-title {
      width: 100%;
      border-bottom: 2px solid #0072ff;
      text-align: center;

      p {
        padding: 0;
        margin: 2px;
        font-family: $inter;
        font-size: 20px;
      }
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 1679px) {
  main {
    justify-content: center;
    gap: 15px;

    .user-activites {
      width: 90%;
      max-width: 850px;
      @include flex(flex-start, flex-start, wrap, column);
    }

    .cards {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
