<main>
  <div class="base-side">
    <div class="user-container">
      <div class="left-side">
        <div class="image-container">
          <img [src]="user()?.photoURL" [alt]="`${user()?.displayName} Logo`" />
        </div>
        <div class="user-baseInfo">
          <p>
            Username: <span>{{ user()?.displayName }}</span>
          </p>
          <p>
            Email: <span>{{ user()?.email }}</span>
          </p>
          <p>
            Member Since:
            <span>{{
              user()?.metadata?.creationTime | date : "dd/MM/yyyy"
            }}</span>
          </p>
          <p>
            Last seen:
            <span>{{
              user()?.metadata?.lastSignInTime | date : "dd/MM/yyyy"
            }}</span>
          </p>

          <p>
            Email verified:
            <span>{{ user()?.emailVerified ? "Yes" : "No" }}</span>
          </p>
        </div>
      </div>
      <!-- <div class="metrics">
        <ul class="anchorButton">
          <li>
            <a>add metrics</a>
          </li>
        </ul>
      </div> -->
    </div>
    <div class="workouts-container">
      <div class="container-title">
        <p>choose today's activity</p>
      </div>
      <div class="wrokout-cards">
        <app-card
          *ngFor="let item of workoutTypes()"
          [workout]="item"
          (emitWorkout)="userWorkouts($event)"
        />
      </div>
    </div>
  </div>
  <section class="user-activites">
    <div class="activities-title">
      <p>User activities</p>
    </div>
    <div class="place-holder" *ngIf="activities().length === 0">
      <p>no activities found.</p>
    </div>
    <div class="cards">
      <app-dashboard-card *ngFor="let item of activities()" [cardInfo]="item" />
    </div>
  </section>
</main>
