<main>
  <aside class="left-side">
    <section class="profile">
      <div class="profile-data">
        <div class="profile-header">
          <img
            [src]="user()?.photoURL || 'assets/images/user.png'"
            [alt]="`${user()?.displayName} Logo`"
          />
          <h4>
            {{ user()?.displayName }}
          </h4>
        </div>
        <div class="profile-info">
          <p>
            <span class="label">Email:</span>
            {{ user()?.email }}
          </p>

          <p>
            <span class="label">Member since:</span>
            {{ user()?.metadata?.creationTime | date : "dd/MM/YY" }}
          </p>

          <p>
            {{ (user()?.metadata)!.lastSignInTime! | lastSeen }}
          </p>
        </div>
      </div>
      <div class="dashboard-overview">
        <h2>Dashboard Overview</h2>
        <div class="stats">
          <div class="data-wrap">
            <span>
              {{ activities().length }}
            </span>
            <p>Workouts Done</p>
          </div>
          <div class="divider"></div>
          <div class="data-wrap">
            <span>
              {{ totalKm() }}
            </span>
            <p>Total KM</p>
          </div>
        </div>
      </div>
    </section>
    <section class="workouts-container">
      <div class="container-title">
        <h3>🔥Today's Activity</h3>
      </div>
      <div class="wrokout-cards">
        <app-card *ngFor="let item of workoutTypes()" [workout]="item" />
      </div>
    </section>

    <section class="user-activities">
      <h1>Your Activity Feed</h1>

      @if (activities().length === 0) {
      <div class="blocked">
        <h2>
          <i class="fa-solid fa-lock"></i>Do at least one workout to unlock
          activity feed
        </h2>
      </div>
      }@else if (activities()) {
      <div class="cards">
        <app-dashboard-card
          *ngFor="let item of activities()"
          [cardInfo]="item"
        />
      </div>
      }
    </section>
  </aside>

  <section class="workouts-chart">
    <div class="top-charts">
      <div class="user-meals" [ngClass]="{ hidden: !dailyMeals() }">
        <div class="title-container">
          <p>Macro tracker</p>
        </div>

        @if (mealLoading()) {
        <div class="loading">
          <mat-spinner />
        </div>
        }@else if (dailyMeals()) {
        <app-nutrition-card [nutritionInput]="dailyMeals()!" />
        }@else {
        <div class="placeholder" *ngIf="!dailyMeals()">
          <h5>Add today's meals to view your macro data.</h5>
          <button routerLink="scanner">Add food here!</button>
        </div>

        }
      </div>

      <div class="daily-goal">
        <div class="title-container">
          <p>Daily Goal</p>
        </div>

        @if (goalLoading()) {
        <div class="loading">
          <mat-spinner />
        </div>
        }@else if(dailyGoal()) {
        <app-daily-goal [goalData]="dailyGoal()" (newGoal)="openModal()" />
        }@else {
        <div class="empty">
          <span>🏅No daily goals found. set your daily goal. </span>
          <button (click)="openModal()">Set daily goal</button>
        </div>
        }

        <app-modal
          *ngIf="isOpen()"
          (close)="closeModal()"
          (saveGoal)="saveDailyGoal($event)"
        />
      </div>
    </div>
    <div
      class="calorie-data"
      [ngClass]="{ hidden: weeklyActivity().length < 7 }"
    >
      <div class="container-title" *ngIf="weeklyActivity().length >= 7">
        <span>Activity Summary (Last 7 Activity)</span>
      </div>
      <div class="not-available" *ngIf="weeklyActivity().length < 7">
        <h4>
          <i class="fa-solid fa-lock"></i>
          Complete at least 7 workouts to unlock the progress <br />
          chart for the last 7 workouts.
        </h4>
      </div>
      <app-line-chart
        *ngIf="weeklyActivity() && weeklyActivity().length >= 7"
        [userWorkoutData]="weeklyActivity()"
      />
    </div>
    <div class="pr-container">
      <h2>Peak Performance Session <i class="fa-solid fa-fire"></i></h2>

      @if (prLoading()) {
      <div class="loading">
        <mat-spinner />
      </div>
      }@else if (prData()) {
      <div class="data-container">
        <app-pr-card [personalBest]="prData()" />
      </div>
      }@else {
      <p class="locked-p">
        Do at least one workout to see personal best data
        <i class="fa-solid fa-lock"></i>
      </p>
      }
    </div>
  </section>
</main>
